@model IndexViewModel
@{
    ViewData["Title"] = Model.Title;
}
@functions
{
    // Gets the previous month
    public object GetPreviousMonth()
    {
        var year = int.Parse(Context.Request.Query["year"].ToString());
        var month = int.Parse(Context.Request.Query["month"].ToString());

        month--;
        if(month <= 0)
        {
            year--;
            month = 12;
        }

        return new
        {
            year,
            month
        };
    }

    // Gets the next month
    public object GetNextMonth()
    {
        var year = int.Parse(Context.Request.Query["year"].ToString());
        var month = int.Parse(Context.Request.Query["month"].ToString());

        month++;
        if (month >= 12)
        {
            year++;
            month = 1;
        }

        return new
        {
            year,
            month
        };
    }

    // Gets the selected date
    public object GetDate(int day)
    {
        var year = int.Parse(Context.Request.Query["year"].ToString());
        var month = int.Parse(Context.Request.Query["month"].ToString());

        return new
        {
            year,
            month,
            day
        };
    }
}
<!-- Calendar Header - title and navigation -->
<div class="row bg3">
    <div class="col">
        <a class="hyperlink" href=@Url.Action("Index", GetPreviousMonth())>
            <div class="text-chonker text-left">
                <
            </div>
        </a>
    </div>
    <div class="col text-chonker text-center">@Model.Title</div>
    <div class="col">
        <a class="hyperlink" href=@Url.Action("Index", GetNextMonth())>
            <div class="text-chonker text-right">
                >
            </div>
        </a>
    </div>
</div>
<!-- Calendar Header - Day Names -->
<div class="row text-chonk">
    <div class="col">Mon</div>
    <div class="col">Tue</div>
    <div class="col">Wed</div>
    <div class="col">Thu</div>
    <div class="col">Fri</div>
    <div class="col">Sat</div>
    <div class="col calendar-day-sun">Sun</div>
</div>
<!-- Calendar Body -->
<div class="row">
    <div class="col">
        @for (var i = 0; i < 6; i++)
        {
            <div class="row">
                @for (var j = 0; j < 7; j++)
                {
                    var index = i * 7 + j;
                    var day = index - Model.Offset - 6;

                    <div class="col">
                        @if (index >= Model.Offset + 7 && index < Model.Offset + Model.Days + 7)
                        {
                            <a class="calendar-day
                               @(index % 7 == 6 ? "calendar-day-sun" : "")
                               @(Model.BusyDays.Contains(day) && !(day == Model.Today) ? "calendar-day-busy" : "")
                               @(day == Model.Today ? "calendar-day-today" : "")"
                               href=@Url.Action("Day", GetDate(day))>
                                <div class="text-chonk">
                                    @day
                                </div>
                            </a>
                        }
                    </div>
                }
            </div>
        }
    </div>
</div>