@{
    ViewData["Title"] = "Info";
}
<div>
    <div class="row bg3">
        <div class="col text-chonker">
            Calendar in ASP.MVC .NET Core
        </div>
    </div>
    <br />
    <div class="row">
        This is a Calendar program for the Graphical User Interfaces (EGUI) course 2020L, Project no. 2. <br />
        Made by Kacper Wojakowski, 293064 in ASP.MVC .NET Core.
    </div>
</div>