@{
    ViewData["Title"] = "Info";
}
<h1>Calendar in ASP.MVC .NET Core</h1>

This is a Calendar program for the Graphical User Interfaces (EGUI) course 2020L, Project no. 2.
<br />
Made by Kacper Wojakowski, 293064 in ASP.MVC .NET Core.